@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --element: hsl(209, 23%, 22%);
  --background: var(--element);
  --text: hsl(0, 0%, 100%);

  --red-bg: rgb(215, 160, 130);
  --blue-bg: rgb(160, 160, 215);
  --green-bg: rgb(160, 215, 160);

  --white: #ffffff;
  --black: #1c1e1f;
  --gray: #212425;
}

html,
#root {
  @apply h-[100vh] w-[100vw];
}

html {
  background-color: var(--background);
  color: var(--text);
  overflow: hidden;
}

.fancyFont {
  font-family: "Playfair Display", serif;
}

.colSplitMask {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url(/src/assets/slideMask.svg);
  mask-image: url(/src/assets/slideMask.svg);
  mask-size: cover;
}
